<div class="jumbotron jumbotron-fluid" >
<h1>MENSAJES!</h1>
</div>
    <div class="container" *ngIf="mensajesVista">
      <div class="card" style="text-align: left">
        <div class="card-body" *ngFor="let mensaje of mensajesVista">
          <h4>
            <div class="little-rounded-bottom">
                <file-upload name="imagen" allowedTypes="image/*" uploadButtonText="Upload File" [ngModel]="mensaje.picture"
        (ngModelChange)="actualizarImagen($event)"></file-upload>
            </div><strong>{{mensaje.name}}</strong>
          </h4>
          <p>{{mensaje.mensaje}}</p>
          <div class="divisor"></div>
        </div>

      </div>
    </div>
